<div id="editUserModal" class="modal fade" role="dialog" th:fragment="edit-user" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>Edit user</span></h4>
            </div>
            <div class="modal-body">
                <form th:method="PATH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                    <div class="mb-3">
                        <label for="inputId" style="font-weight:bold">ID</label>
                        <input type="text" th:value="*{id}" id="inputId" class="form-control mb-2 col-2" readonly/>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" style="font-weight:bold">Name</label>
                        <input type="text" th:field="*{name}" id="inputName" class="form-control mb-2 col-2"/>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" style="font-weight:bold">E-mail</label>
                        <input type="text" th:field="*{email}" id="inputEmail" class="form-control mb-2 col-2"/>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" style="font-weight:bold">Password</label>
                        <input type="password" th:field="*{password}" id="inputPassword" placeholder="Enter Password"
                               class="form-control mb-2 col-2"/>
                    </div>
                    <div class="mb-3">
                        <label for="inputRoles" style="font-weight:bold">Select Roles:</label>
                        <select multiple name="role" th:required="true" id="inputRoles" class="form-control mb-2 col-2">
                            <option th:each="role : ${roles}"
                                    th:value="${role.getRoleName()}"
                                    th:utext="${role.getRoleName()}"
                                    th:selected="${#lists.contains(user.roles, role)}">
                            </option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>